doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    script.
      window.brunch = window.brunch || {};
      window.brunch.server = 'localhost';
    link(rel='stylesheet', href='css/app.css')
    script(src='js/vendor.js')
  body
    .titlebar
    .holder
      .project
      .container
    .bottom-bar
  script(src='js/app.js')