doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/app.css')
    script.
      window.brunch = window.brunch || {};
      window.brunch.server = 'localhost';
      window.brunch['auto-reload'] = {
        enabled: true
      };
    script(src='js/vendor.js')
    //script(src='js/app.templates.js')
    script(src='js/app.js')
  body
    .titlebar(ng-controller='TitlebarCtrl')
      b.app-name Node Webkit Editor
      menubar
      .window-controls
        a(ng-click='minimize()') -
        a(ng-click='maximize()', ng-class="{maximized: maximized}"): div &and;
        a(ng-click='close()') ~
    .holder(ng-controller='EditorCtrl')
      #editor
    .bottom-bar(ng-controller='StatusCtrl')
      .position lolz
      .devTools
        a(ng-click='reload()') Reload
        a(ng-click='showDevTools()') Show Dev Tools
      .selectors
        select.syntax(ng-model='mode', tabindex='-1')
          option(ng-repeat="mode in modes", value="{{mode.mode}}", ng-selected="$first") {{mode.caption}}
        select.theme(ng-model='theme', tabindex='-1')
          option(ng-repeat="theme in themes", value="{{theme.theme}}", ng-selected="$first") {{theme.caption}}
    input#openFile(type='file')
    input#saveFile(type='file', nwsaveas)